.callout {
    /* so absolute positioning of child elements be relative to this container */
    position: relative;
}
.callout::before {
    --callout-bar-width: 4px;
    /* make "pseudo-element" inside callout for our bar */
    content: '';
    /* disable regular positioning strategy,
    let us choose where is element
    inside container */ 
    position: absolute;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: calc(100% - var(--callout-bar-width)); 

    background-color: rgb(var(--callout-color));
}