/* Set the maximum height for images in both Preview and Editor modes */

.cm-s-obsidian img,

.markdown-rendered img {

max-height: 100px; /* Adjust this value to your preferred maximum height */

width: 100%; /* Stretch the image to take up the full available width */

display: block;

margin: 0 auto; /* Center the images horizontally */

}

img {

box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);

/* very subtle styling; works in "Image Toolkit" Plugin too */

}